.button {
  font-size: 2.8rem;
  padding: 0.85em;
  font-weight: 900;
  border-radius: 0.5em;
  transform: scale(1);
  transition: background-color 0.5s ease-out, transform 0.5s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &[data-color="blue"] {
    position: relative;
    background-color: var(--blue);
    color: var(--white);

    &:hover {
      background-color: var(--light-blue);
    }
  }

  &[data-color="grey"] {
    background-color: var(--light-grey);
    color: var(--dark-grey);

    &:hover {
      background-color: var(--hover-grey);
    }
  }

  &[data-size="smaller"] {
    font-size: 2rem;
  }
}
