.button {
  font-size: 2.8rem;
  padding: 0.85em;
  font-weight: 900;
  border-radius: 0.5em;

  &[data-color="blue"] {
    background-color: var(--blue);
    color: var(--white);
  }

  &[data-color="grey"] {
    background-color: var(--light-grey);
    color: var(--dark-grey);
  }

  &[data-size="smaller"] {
    font-size: 2rem;
  }
}
