/* HEADER BLOCK */
.header {
  padding: 2rem;

  & h2 {
    font-family: "Oleo Script", cursive;
    font-size: var(--logo-size);
    text-align: center;
    color: var(--red);
  }

  & ul[role="list"] {
    font-weight: bold;

    & > li + li {
      margin-top: 1rem;
    }

    & li[role="list"] {
      padding: 0.7em;
      text-align: center;
      border-radius: 0.8rem;
      transition-property: color, background-color;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;

      &:hover {
        color: var(--white);
        background-color: var(--dark-grey);
      }
    }
  }
}
