/* GLOBAL STYLES */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url("/src/img/bg01.png");
  background-repeat: repeat;
}

h1,
h2,
h3 {
  font-weight: 900;
  color: var(--dark-grey);
}

h1 {
  font-size: var(--main-title-size);
  line-height: 1.2;
  color: var(--dark-grey);
}

h3 {
  font-size: 1.6rem;
}

figcaption {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--white);
  padding-left: 2.2rem;
}

button {
  border: 0;
}

ul[role="list"] {
  padding-left: 0;
}

p,
button,
li,
a {
  font-size: 1.4rem;
}

a {
  color: var(--link-color);
}
