.icon {
  display: inline-block;
  margin: 0 0.5ch;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: -8%;

  &[data-position="left"] {
    margin-left: 0;
  }
}

.right-arrow {
  background-image: url("//books-and-books-test/src/img/icons/right-arrow.svg");
}

.question {
  background-image: url("//books-and-books-test/src/img/icons/question-mark.svg");
}

.read {
  background-image: url("/books-and-books-test/src/img/icons/file.svg");
}

.twitter {
  background-image: url("/src/img/icons/twitter.svg");
}

.facebook {
  background-image: url("/books-and-books-test/src/img/icons/facebook.svg");
}

.instagram {
  background-image: url("/books-and-books-test/src/img/icons/instagram.svg");
}

.linkedin {
  background-image: url("/books-and-books-test/src/img/icons/linkedin.svg");
}

.pinterest {
  background-image: url("/books-and-books-test/src/img/icons/pinterest.svg");
}
