/* VARIABLES */

:root {
  /* Colors */
  --white: rgb(255, 255, 255);
  --dark-grey: rgb(69, 69, 69);
  --light-grey: rgb(242, 242, 242);
  --blue: rgb(21, 145, 196);
  --red: rgb(242, 69, 63);
  --link-color: rgb(105, 105, 105)
  /* Fonts */
  --title-font: "Oleo Script", cursive;
  --text-font: "Open Sans", sans-serif;
  /* Font sizes */
  --logo-size: 3.4rem;
  --main-title-size: 4.8rem;
}
